{% extends 'base.html' %}
{% block body %}
    <h2>{{the_title}}</h2>
    <form action="/area" method="post">
        <table>
            <p>Use thes form to submit the data to calculate the volume</p>

            <tr>
                <td>a:</td>
                <td><input type="number" name="a"></td>
            </tr>
            <tr>
                <td>b:</td>
                <td><input type="number" name="b"></td>
            </tr>
        </table>
        <p>When you're ready, click this button</p>
        <p><input type="submit" name="btn_calculate" value="Calculate!"></p>
    </form>
{% endblock %}